.idea/
.vscode/
parameters*.json
parameters*.bat
*.pem
*.p8
*.pem
coverage.txt
fuzz-*/
/select1
/selectmany
/verifycert
wss-golang-agent.config
wss-unified-agent.jar
whitesource/
*.swp
cp.out
__debug_bin*

.vscode
# exclude vendor
vendor
